<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <div class="container"><header>
        <h1>Update Auteuren</h1>
        <a href="https://www.test-correct.nl/?vraag={{ id }}">Meer informatie over vraag</a>
        <br/>
    </header>

        <form action='' method = "POST">
        <table class="table">
            
        <tr>
        <form action="updateauteuren/{{auteur}}" METHOD="POST">
            
            <textarea class = "inputClass" name="vraag" style='width:100%;height:200px'>{{vraag}}</textarea>
          <section><tr>Auteur&nbsp;&nbsp;</tr><input type="text" placeholder="auteur" name="auteur" size="50" value = "{{auteur}}"></section>
          </tr>
          
        </section>
        
        </tr>
    </div>
    <div> 
        <tr> 
            <button class="btn btn-primary" type="submit">Update</button>
            <a href="{{ url_for('menu') }}">Terug naar Dashboard</a>
         </tr> 
        </form>
    </table>
    
    <table class="table table-hover table-light table-bordered">
        <thead class="thead-dark">
        <tr>

            <th>ID</th>
            <th>voornaam</th>
            <th>Achternaam</th>
            <th>Geboortejaar</th>
        </tr>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for field in row %}
                <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
</div>
</main>  