<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Auteuren Update</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .body-bg {
            background-color: #00f7ff;
            background-image: linear-gradient(330deg, #69f6b4 0%, #5fbe7b 74%);
        }
    </style>
</head>

<body class="body-bg min-h-screen  overflow-hidden flex items-center justify-center">
<main>
    
    <div class="container"><header>
        <h1>Update Auteuren</h1>
        <br/>
    </header>
        <form action='' method = "POST">
        <table class="table">
        <tr>
        <form action="updateauteurs/{{voornamen}}" METHOD="POST">
            <div class="-mx-3 flex flex-wrap">
                <div class="w-full px-3 sm:w-1/2">
                  <div class="mb-5">
          <section><tr>Voornaam</tr><input type="text" placeholder="voornaam" name="voornaam" size="50" value = "{{voornamen}}" 
            class="w-full rounded-md border  bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none  focus:shadow-md"></section>
          
          <section><tr>Achternaam</tr><input type="text" placeholder="achternaam" name="achternaam" size="50" value = "{{achternaam}}"
            class="w-full rounded-md border bg-white py-3 px-6 text-base font-medium ] outline-none  focus:shadow-md"
            ></section>
          
          <section><tr>Geboortejaar</tr><input type="text" placeholder="geboortejaar" name="geboortejaar" size="50" value = "{{geboortejaar}}"
            class="w-full rounded-md border  bg-white py-3 px-6 text-base font-medium  outline-none  focus:shadow-md"
            ></section>
          
          <section>
            <label for="medewerker">medewerker</label>

                <select 
                class="w-full rounded-md border bg-white py-3 px-6 text-base font-medium  outline-none focus:shadow-md"
                name="medewerker" 
                id="auteurs" 
                value = "{{medewerker}}">
                <option value="1">Externe Partij</option>
                <option value="0">Medewerker van Test-correct</option>
                </select>
        </section>   
        <section>
            <label for="Met pensioen">Met pensioen</label>

                <select 
                class="w-full rounded-md border  bg-white py-3 px-6 text-base font-medium outline-none focus:shadow-md"
                name="met pensioen" 
                id="auteurs" 
                required>
                <option value="1">met pensioen</option>
                <option value="0">Te contacteren</option>
                </select>
        </section>
        </tr>
    </div>
    <div> 
        <tr> 
            <button class="hover:shadow-form rounded-md py-3 px-4 text-center items-center bg-blue-600 text-base font-semibold text-black outline-none"
            type="submit">Update</button>
         </tr> 
         <a class="hover:shadow-form rounded-md py-3 px-4 text-center items-center text-base font-semibold text-black outline-none" href="{{ url_for('menu') }}">Terug naar Dashboard</a>

        </form>
    </table>
</div>
</main>  