<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <div class="container"><header>
        <h1>Update Auteuren</h1>
        <br/>
    </header>
        <form action='' method = "POST">
        <table class="table">
        
        <tr>
        <form action="updateauteuren/{{auteur}}" METHOD="POST">
            
            <textarea class = "inputClass" name="vraag" style='width:100%;height:200px'>{{vraag}}</textarea>
            <section>
          <section><tr>Auteur&nbsp;&nbsp;</tr><input type="text" placeholder="auteur" name="auteur" size="50" value = "{{auteur}}"></section>
          <section><tr>Naam&nbsp;&nbsp;</tr><input type="text" placeholder="auteur" name="auteur" size="50" value = "{{namen}}"></section>

          </tr>
          
        </section>
        
        </tr>
    </div>
    <div> 
        <tr> 
            <button class="btn btn-primary" type="submit">Update</button>
         </tr> 
        </form>
    </table>
</div>
</main>  