<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database Dashboard</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
</style>
</head>
<body>

<header>
    <div class="header">
        <a href="https://www.test-correct.nl/" class="logo"><img src=https://www.test-correct.nl/hubfs/raw_assets/public/test-correct/images/testcorrect-logo.svg> </a>
         
            <div class="header-right">
                <ul class="navbar">
                    <a href="{{ url_for('editor') }}">Auteur Editor</a>
                    <a href="{{ url_for('htmleditor') }}">HTML Cleaner</a>
                    <a href="{{ url_for('leerdoelen') }}">Leerdoelen check</a>
                    <a href="{{ url_for('NullornotNull') }}">Null or not Null</a>
                    <a href="{{ url_for('index') }}">Tabellen</a> 
                </ul>
            </div>
    </div>
</header>
<section>
    <nav>
    <ul class="navbar">
      <nav> <div><li><a href="/table_details/auteurs">Auteurs</a></li></div></nav> </ul>
      <ul class="navbar"> <nav>  <div><li><a href="/table_details/leerdoelen">Leerdoelen</a></li></div></nav> </ul>
      <ul class="navbar"> <nav> <div><li><a href="/table_details/vragen">Vragen</a></li></div></nav> </ul>
    </nav>
  
    <article>
        <h1 class="page-header">Welcome {{username}},</h1>
        <canvas id="leerdoelenChart" style="width:100%;max-width:700px" ></canvas>
        <script METHOD = "GET" > 
    var xValues = ["Foutieve Leerdoelen", "Foutieve Auteur"];
    var yValues = ["{{count}}","{{count4}}"];
    var barColors = ["red", "green"];

    
    new Chart("leerdoelenChart", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Leerdoelen"
        }
      }
    });
    </script>
    </article>
    <article>
      <canvas id="HTMLChart" style="width:100%;max-width:700px" ></canvas>
      <script METHOD = "GET" > 
        var xValues = ["<br>", "nbsp;"];
        var yValues = ["{{count2}}","{{count3}}"];
        var barColors = ["green","blue"];
    
        
        new Chart("HTMLChart", {
          type: "doughnut",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            legend: {display: false},
            title: {
              display: true,
              text: "HTML Fouten"
            }
          }
        });
        </script>
    </article>
</section>
</body>
</html>
