<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <div class="container"><header>
        <h1>Update vragen</h1>
        <br/>
        <td>Vraag</td>
    </header>
        <form action='' method = "POST">
        <table class="table">
        <tr>
       
        <form action="update/{{vragen}}" METHOD="POST">
            <textarea name="vraag" style='width:100%;height:200px'>{{vragen}}</textarea>
            <section>        </tr>
    </div>
    <div> 
        <tr> 
            <button class="btn btn-primary" type="submit">Update</button>
         </tr> 
        </form>
    </table>
</div>
</main>  

<script>
    var regex = /(<br>|&nbsp;)/g;
    var regex = /(apples|oranges)/g;
    
    $('body a, body p').each(function() {
        var $vragem = $(this);
        var text = $vragen.text();
        if (text.match(regex) && $vragen.children().length===0) {
            $vragen.html(
                $vragen.html().replace(regex, '<span style="background: #FFFF00;">$1</span>')
            );
        }
    });
    </script>