<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <div> 
        <h1>TEST TEST TEST</h1>
        <div> 
            <div> 
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Update vragen</h1>
        <br/>
        <form action='' method = "POST">
        <table class="table">
        <tr>
        <td>Vraag</td>
        <form action="update/{{vragen}}" METHOD="POST">
          <input type="text" placeholder="Vraag" name="vraag" size="150" value = "{{vragen}}">
        </tr>
    </div>
    <div> 
        <tr> 
            <button class="btn btn-primary" type="submit">Update</button>
         </tr> 
        </form>
    </table>
</div>
</main>  