<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    
</head>
<body>
<main>
<div class="container">
    <div class="row">
        <div class="col md-12">
 
            <div class="jumbotron p-3">
                <ul class="nav">
                    <a href="{{ url_for('menu') }}">Dashboard</a>
                </ul>

                <h2>Controleer vragen op <b>HTML Fouten</b></h2>
                    <a> "apples" "oranges" </a>
                {% with messages = get_flashed_messages() %}
 
                {% if messages %}
 
                {% for message in messages %}
 
                <div class="alert alert-success alert-dismissable" role="alert">
 
                    <button type="text" class="close" data-dismiss="alert" aria-label="close">
 
                        <span aria-hidden="true">x</span>
 
                    </button>
 
                {{message}}
 
 
                </div>
 
 
                {% endfor %}
 
                {% endif %}
                {% endwith %}
 
 
                <table class="table table-hover table-light table-bordered">
                    <thead class="thead-dark">
                    <tr>
 
                        <th>ID</th>
                        <th>vraag</th>
                        <th></th>
                    </thead>
                    </tr>
                   {% for row in rows %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.vraag}}</td>                             
                        <td>
                            <a href="/editor/htmlcleaner/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                        </td>
                        
                    </tr>
            {% endfor %}
                    
        </div>
    </main> 
    </body>


</html>
<script>
var regex = /(<br>|&nbsp;)/g;
var regex = /(apples|oranges)/g;

       
$(document).ready( function () {
    $('#myTable').DataTable();
    
    var $this = $(this);
    var text = $this.text();
    if (text.match(regex) && $this.children().length===0) {
        $this.html(
            $this.html().replace(regex, '<span style="background: #FFFF00;">$1</span>')
        );
    }
});
</script>