<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <div class="container"><header>
        <h1>Update Leerdoelen</h1>
        <br/>
    </header>
        <form action='' method = "POST">
        <table class="table">
        <tr>
        <form action="updateleerdoelen/{{leerdoelen}}" METHOD="POST">
          
          <section><tr>Vraag&nbsp;&nbsp;&nbsp;&nbsp;</tr><input type="text" placeholder="vraag" name="vraag" style='width:100%' value = "{{vraag}}"></section>
          &nbsp;&nbsp;&nbsp;
          <section>
            <label for="leerdoel">leerdoel&nbsp;&nbsp;&nbsp;</label>

                <select name="leerdoel" id="vragen">
                <option value="1">{{leerdoel_1}}</option>    
                <option value="2">{{leerdoel_2}}</option>
                <option value="2">{{leerdoel_3}}</option> 
                <option value="2">{{leerdoel_4}}</option> 
                <option value="2">{{leerdoel_5}}</option> 
                <option value="2">{{leerdoel_6}}</option> 
                <option value="2">{{leerdoel_7}}</option>             
                </select>
        </section>
          </tr>
        </section>
        </tr>
    </div>
    <div> 
        <section>
        <tr> 
            <button class="btn btn-primary" type="submit">Update</button>
         </tr> 
        </form>
</section>
</div>
</main>  