<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="/static/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.test-correct.nl/hubfs/raw_assets/public/test-correct/images/testcorrect-logo.svg" alt="" /></p>   
        <div class="columns is-centered">
          <div class="column is-half">
            <form action="" method="POST">
              <div class="columns is-centered" >
                <div class="column is-half" style="display: block; margin-left: auto; margin-right: auto;">
                
                  {{ form.hidden_tag() }}
                <p>
                  <div class="field">   
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
              </div>
                  <div class="field">    
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                </div>
                <div class="field">
                  <p class="control">
                <p>{{ form.submit() }}</p>
              </div>
            </p>
          </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>