<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="/static/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  
  <form action="" method="post" novalidate>
    <div class="columns is-centered">
      <div class="column is-half">
        <h1>Sign In</h1>
      {{ form.hidden_tag() }}
      <p>
        <div class="field">  
        <label class="label">Username</label>        
          {{ form.username.label }}<br>
          {{ form.username(size=32) }}<br>
          {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
    </div>
    <div class="field">  
      <label class="label">Username</label>   
      <p>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}<br>
          {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      </div>
      <p>{{ form.submit() }}</p>
    </div>
  </div>
    </form>
</body>