<style>
    /* Form container */
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    
    /* Form input fields */
    input {
        width: 300px;
        height: 40px;
        margin: 10px;
        padding: 10px;
        font-size: 18px;
        border: 1px solid #ccc;
    }
    
    /* Form submit button */
    button {
        width: 150px;
        height: 40px;
        margin: 10px;
        font-size: 18px;
        background-color: #337ab7;
        color: white;
        border: none;
        cursor: pointer;
    }
    </style>
    
    <form method="POST">
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.test-correct.nl/hubfs/raw_assets/public/test-correct/images/testcorrect-logo.svg" alt="" /></p>   
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="username" placeholder="Username">
        </div>
        <label class="label">Password</label>
        <input class="input" type="password" name="password" placeholder="Password">
        <button type="submit" class="button is-success">Sign In</button>
    </form>